.buttonGroup
  display flex
  flex-direction row
  border 1px solid green
  width 100
  height 30
  border-radius 15px
  justify-content space-evenly
  align-items center

.buttongrp_text
  font-size 16
  font-weight 700

.count
  height 100%
  justify-content center
  padding-horizontal 8
  borderLeftWidth 1px 
  borderColor green
  borderRightWidth 1px 