.cardleft
  flex 1
  justify-content center
  padding-horizontal 10

.cardright
  flex 2.5
  justify-content space-around
  padding-top 10
  padding-bottom 20
  padding-horizontal 10

.card
  background-color white
  flexDirection row
  marginHorizontal 20
  height 150
  marginVertical 5
  shadowColor grey
  shadowOffsetWidth 2 
  shadowOffsetHeight 3
  shadowOpacity 0.5
  shadowRadius 3
  elevation 2

.title
  font-size 16.5

.brand
  font-size 15
  font-weight 700

.meta
  color grey

.img
  height 100
  width 100

.cartwidget
  position absolute
  bottom 20
  right 20 

.addbtn
  width 80
  height 35
  justify-content center

.addtext
  color white