@import "themes.styl"

.header 
  align-items center
  background-color $primary-color

.listItem
  justify-content space-between

.amt
  color $primary-color
  font-size 16

.finalAmt
  color blue

.buttontext
  color white
  font-size 16

.buybutton
  margin 10px

.browsebutton
  width 150
  justify-content center
  align-self center
  margin-top 10

.card
  background-color $secondary-color
  marginHorizontal 20
  marginVertical 5
  shadowColor grey
  shadowOffsetWidth 2 
  shadowOffsetHeight 3
  shadowOpacity 0.5
  shadowRadius 3
  elevation 2

.empty
  padding-bottom 200
  justify-content center
  align-items center
  background-color $secondary-color
