@import "themes.styl"

.flexOne 
  flex 1
  background-color: $primary-color

.header
  flex 2
  justify-content center
  align-items center

.formContainer
  flex 1
  background-color #fff
  padding-vertical 50
  padding-horizontal 20
  borderTopLeftRadius 30
  borderTopRightRadius 30
  justify-content space-between

.logo
  height 150
  width: 150
  borderTopLeftRadius 100
  borderTopRightRadius 100
  borderBottomLeftRadius 100
  borderBottomRightRadius 100

.tagline
  color $primary-color
  font-weight bold
  font-size 30
